html {
  position: relative;
  min-height: 100%;
}

.single-filter-content {
  /* height: 650px; */
  height: 100vh;
  position: relative;
  /* margin-top: 30px; */
  /* margin-bottom: -200px; */
}

.slider {
  padding: 0;
  height: 50vh;
}
div.container-fluid.slider {
  z-index: -1px;
  height: 100vh;
}

.content-1 {
  background: url(../img/1.jpeg) no-repeat center center/cover;
}

.content-2 {
  background: url(../img/2.jpeg) no-repeat center center/cover;
}

.content-3 {
  background: url(../img/4.jpeg) no-repeat center center/cover;
}

.container-bg {
  background-color: black;
}

body .nav-item {
  margin-left: 40px;
  font-size: 15px;
}

body .nav-item a::after {
  content: '';
  display: block;
  background-color: #ccc;
  width: 100%;
  height: 1px;
  transform: scale(0);
  transition: all .3s;
}

body .nav-item a:hover::after {
  transform: scale(1);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
}

.title {
  margin-top: 10px;
}

.mar {
  margin-right: 10px;
  text-decoration: none;
  letter-spacing: normal;
  line-height: normal;
  color: black;
}

ul .nav.nav-pills {
  margin: 0 0 10px 0;
}

.b-signup {
    min-height:100%;
    background-color: white;
}

.text-center{
  text-align: center;
}

.space-bot{
  margin-bottom: 35px;
}

.space-top{
  margin-top: 35px;
}

/* Footer */

footer{
  background-color: #343a40;
  padding: 16px 0;
}

footer .underline a::after{
  content: '';
  display: block;
  background-color: #ccc;
  width: 100%;
  height: 1px;
  transform: scale(0);
  transition: all .3s;
}
footer .underline a:hover::after{
  transform: scale(1);
}

/* Title */

.h-signup {
    color: white;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

/* Sign Up */

.container-signup {
    max-width: 400px;
    max-height: 100px;
    margin-top: 10px;
}

.alert-danger{
	text-align: center;
}

.signup-screen {
	  padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: #343a40;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    color: white;
}

.btn{
  border-radius: 2px;
}

.done{
  background-color: #5CAB7D;
}

.done:hover{
  background-color: #6dc793;
}

.done:focus{
  background-color: #6dc793;
}

.input-group {
    width:100%;
}

.input-group .ng-invalid {
    border: 2px solid #e74c3c;
    border-radius: 3px;
}

/* Error Box */

.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  border-color: #e85a71;
  background-color:  #e85a71;
  color: white;

}

.help-block {
    font-size: 12px;
    color: white
}
